
.lambda
{
margin : auto;
}

p
{
	color: blue;
	text-align: center;
}

input
{
	text-align: center;
}

#fond_pale_page
{
	display: flex;
	margin: auto;
	width: 80%;
	background-color: rgb(217,232,241);
	min-height: 100vh;  /*TAILLE DU NAVIGATEUR*/
}



html
{
	height: 100%;
}

body {
	height: 100%;
	margin:0;
	padding: 0;
}

.top_banner
{
	background-color: rgb(0,98,161);
	height:20px;
}
header
{
	height: 200px;
	background-color: rgb(0, 68, 112);
}

nav
{
	background-color: rgb(51,129,180);
	height:50;

}


#fond_pale_page
{
	display: flex;
	margin: auto;
	width: 80%;
	background-color: rgb(217,232,241);
	min-height: 100vh;  /*TAILLE DU NAVIGATEUR*/
}

footer 
{
	background-color: rgb(0,98,161);
	height:20px;
	float: bottom;
}

.copyright
{
	margin: auto;
	text-align: center;
	color: white;
	font-style: italic;
}
