/*       Mise en page de la page CONTACT */

/* .content {
    padding-top: 80px;
    text-align: left;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
}
*/

#page_contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between center;
}

#message { /*Block information + message */
    float: left;
    background-color: white;
    opacity: 1;
    padding : 10px;
    border-radius: 6px;
    /*   border: 2px solid black;*/

}

#message.submit {
    clear: both;
    background-color: #4285f4;
    color: white;
    padding: 12px 35px;
    text-decoration: none;
    border-radius: 2px;
    border: none;
}

.information{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 30px;
    opacity: 1;
    padding : 10px;
    border-radius: 6px;
}

.map{
    display: flex;
    clear: left;
    width: 100%;
    margin-bottom: 30px;

}


/* CSS du formulaire envoie de mail */

#after_submit, #email_validation, #name_validation {
    display:none;
}

#after_submit{
    background-color: #c0ffc0;
    line-height: 31px;
    margin-bottom: 10px;
    padding-left: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

label, #after_submit{
    color: black;
}

input{
    line-height: 30px;
}

input, textarea{
    width: 288px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #b6c7cb;
}

#contact_form{
    height: 300px;
    padding: 0px 20px 50px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

label.required:after {
    content:'*';
    color:red;
}

.error {
    background-color:#FFDFDF;
    color:red;
}
.error_message{
    font-style: italic;
    font-size: 10px;
}
.row {
    margin:5px;
}

.modif-contact{
    margin-top: 40px;
}