html, body{
    margin: 0;
    padding: 0;
    font-family: Microsoft Tai Le;
    color: black;
   /* background: url('../images/maison.jpg') center no-repeat;*/
    background: url('../images/batiment_ISEP.jpg') fixed no-repeat;
    background-size: 100%;;


}
/*
li {
    list-style-type: none;
    display: inline-block;
    margin-right: 50px;
}

.navbar:visited {
    color: #9e9e9e;
    text-decoration: none;
}

.navbar:hover {
    color: white;
    text-decoration: none;
}

.navbar2:visited {
    color: #9e9e9e;
    text-decoration: none;
}

.navbar2:hover {
    color: white;
    text-decoration: none;
}
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    opacity: 0.7;
}
li {
    float: left;

}
li a {
    display: block;
    color: white;
    text-align: center;

    padding: 20px 30px; /* hauteur puis espacement */
    text-decoration: none;
}
a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color:#4CAF50;
}


/* BOUTON */

.submit {
    background-color: #4285f4;
    color: white;
    padding: 12px 35px;
    text-decoration: none;
    border-radius: 2px;
    border: none;
}
.submit:hover {
    background-color: #0057e6;
}


header {
    display: flex;
   /* padding-top: 7px;
    padding-bottom: 7px;*/
    justify-content: space-between;
    background-color: black;
    opacity: 0.7;
}

.connexion {
    color: white;
}

.image2 {
    width: 40px;
    margin-left: 20px;
    margin-bottom: -15px;
    padding-right: 20px;

}



.content {
    padding-top: 80px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.block{
    margin: auto;
    background-color: white;

    opacity: 1;
    padding : 20px;


    border-radius: 2px;
    border: 2px solid black;

}

label
{
    display: block;
    width: 300px;
    float: left;
}
