html, body{
    margin: 0;
    padding: 0;
    font-family: Microsoft Tai Le;
    color: black;
   /* background: url('../images/maison.jpg') center no-repeat;*/
    background: url('../images/batiment_ISEP.jpg') fixed no-repeat;
    background-size: 100%;
    height: 100%;
}
#superglobal {
    position : relative;
    min-height: 100%;
}

#global{
    position: relative;
    min-height: 100%;
    margin: 0 auto;
    padding-bottom: 70px;
    width: 600px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    opacity: 0.7;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;

    padding: 20px 30px; /* hauteur puis espacement */
    text-decoration: none;
}
a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color:#4CAF50;
}
.navbar-left{
    position: fixed;
    left:60px;
}
.image{

    padding-right:10px;
    margin-right: 10px;
    padding-left:20px;

    margin-top:-15px;
    width : 40px;
    position: fixed;
    left:0;
}


/* BOUTON */

.submit {
    background-color: #4285f4;
    color: white;
    padding: 12px 35px;
    text-decoration: none;
    border-radius: 2px;
    border: none;
}
.submit:hover {
    background-color: #0057e6;
}


header {
    display: flex;
   /* padding-top: 7px;
    padding-bottom: 7px;*/
    justify-content: space-between;
    background-color: black;
    opacity: 0.7;
}

.connexion {
    color: white;
}




.content {
    padding-top: 80px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.block{
    margin: auto;
    background-color: white;

    opacity: 1;
    padding : 20px;


    border-radius: 2px;
    border: 2px solid black;

}

label
{
    display: block;
    width: 300px;
    float: left;
}



footer{
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 100%;
    color :white;
    opacity: 0.8;
    background: black;
    display:flex;
}



#faq{
    width:30%;
}

#reseaux_sociaux{
    width:30%;
}